.pagination {
	display: flex;
	align-items: center;
	gap: 15px;

	&__page {
		cursor: pointer;
		padding: 8px;
		border-radius: 4px;
		background-color: #898989;
		color: #fafbfc;
		transition: color 0.3s ease 0s, background-color 0.3s;

		@media (any-hover: hover) {
			&:hover {
				background-color: #000;
			}
		}
		&_active {
			background-color: #232323;
		}
	}
}
