.header {
	padding: 15px 15px;
	height: 60px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ccc;
	&__actions {
		display: flex;
		align-items: center;
		gap: 30px;
	}
}
