.auth {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__title {
		width: 100%;
		text-align: center;
		margin: 0px 0px 60px 0px;
	}

	&__form {
		width: 600px;
		margin: 0px auto;
		display: grid;
		gap: 20px;
	}
}
