.products {
	&__select {
		margin: 0px 0px 40px 0px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 20px;
		row-gap: 40px;
		margin: 0px 0px 90px 0px;
	}
	&__item {
		position: relative;
		display: grid;

		&_loading {
			position: relative;
			@keyframes spin {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
			height: 400px;
		}
	}

	&__spinnner {
		position: absolute;
		transform: translate(-50%, 0px);
		top: 50%;
		left: 50%;
		z-index: 2;
		border: 8px solid #f3f3f3;
		border-top: 8px solid #3498db;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		animation: spin 1s linear infinite;
	}

	&__name {
		font-weight: 500;
	}

	&__image {
		position: relative;
		padding: 0px 0px 80% 0px;
		border-radius: 10px;

		img {
			// object-fit: cover;
		}
	}

	&__exsist {
	}

	&__content {
		color: #121212;
		display: grid;
		gap: 15px;
		padding: 15px;
		background-color: #ccc;
	}

	&__cart {
		text-align: right;
		svg {
			background-color: orange;
			padding: 8px;
			border-radius: 4px;

			font-size: 38px;
		}

		&_active {
			svg {
				background-color: greenyellow;
			}
		}
	}

	&__favorite {
		position: absolute;
		top: 15px;
		right: 15px;
		text-align: right;

		svg {
			fill: palevioletred;
		}
	}

	&__pagination {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
}
