.products {
	&__select {
		margin: 0px 0px 40px 0px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 20px;
		row-gap: 40px;
		margin: 0px 0px 90px 0px;
	}
	&__item {
		position: relative;
		display: grid;
	}

	&__name {
		font-weight: 500;
	}

	&__image {
		position: relative;
		padding: 0px 0px 80% 0px;
		border-radius: 10px;

		img {
			// object-fit: cover;
		}
	}

	&__exsist {
	}

	&__content {
		color: #121212;
		display: grid;
		gap: 15px;
		padding: 15px;
		background-color: #ccc;
	}

	&__cart {
		text-align: right;
		svg {
			background-color: orange;
			padding: 8px;
			border-radius: 4px;

			font-size: 38px;
		}

		&_active {
			svg {
				background-color: greenyellow;
			}
		}
	}

	&__favorite {
		position: absolute;
		top: 15px;
		right: 15px;
		text-align: right;

		svg {
			fill: palevioletred;
		}
	}

	&__pagination {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
}
