.range {
	&__form {
		display: grid;
		grid-template-columns: repeat(2, 100px);
		gap: 10px;
		max-width: 250px;
		overflow: hidden;
	}
	&__label {
		display: inline-block;
	}

	&__input {
		background-color: #fbfafc;
		padding: 6px;
		color: #121212;
		flex: 0 0 50%;
		border: 1px solid #121212;
		border-radius: 4px;
		width: 100%;
		::placeholder {
			color: #232323;
		}
	}
}
